root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf

[*.{kt,kts,md}]
indent_size = 4
continuation_indent_size = 4
ij_continuation_indent_size = 4
disabled_rules = import-ordering
indent_style = space
insert_final_newline = true

[**/test/**.kt]
ktlint_ignore_back_ticked_identifier = true
