span.icon {
  display: inline-block;
  width: 1.8em;
  text-align: center;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.maven-version-badge {
  text-align: center;
  height: 20px;
}

header {
  h1 {
    text-align: center;
    margin: 0;
    padding: .75em 0;
  }

  p {
    font-size: .8em;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

ul.link {
  a {
    color: var(--clr-h1-and-bold);
    text-decoration: none;
  }

  a:hover, a:focus {
    color: var(--clr-a-text-hvr);
  }
}

.link-wrapper {
  padding-top: 1em;
}

#link-wrapper-mobile a {
  color: var(--clr-h1-and-bold);
  text-decoration: none;
}

#link-wrapper-mobile a:hover, a:focus {
  color: var(--clr-a-text-hvr);
}
