name: Spotless Apply

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Run Spotless Apply
        uses: gradle/gradle-build-action@v2
        with:
          arguments: spotlessApply --force
      - name: Commit Changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "[CI] Spotless Apply"
          committer_name: "GitHub Actions"
          committer_email: "actions@github.com"
